/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-components {
    display: flex;
    justify-content: start;
    gap: 3rem;
    position: relative;
    left: 10rem;
    right: 5rem;
}

.title {
    margin-left: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 90%;
}

.page {
    margin: auto;
    min-width: 70%;
}

.children {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.grid {
    margin-top: 20px;
}

.card {
    max-width: 350px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 0px 15px 15px 15px;
    background-color: white;
}

.title-area {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-area>div {
    display: flex;
    flex-direction: row;
}

.title-area h3 {
    margin: 0;
}

.card p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
    margin-top: 0;
    overflow-wrap: break-word;
}

.title-area .edit {
    font-style: italic;
    color: black;
    font-size: small;
    opacity: 0.2;

    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    width: fit-content;
    text-align: center;
    cursor: pointer;

    align-self: flex-end;
    justify-self: flex-end;
}

.edit:hover {
    animation-name: showEditButton;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes showEditButton {
    to {
        opacity: 1;
        border-bottom: 1px black solid;
    }
}

@keyframes turnBlack {
    to {
        background-color: black;
        color: white;
    }
}

.title-row {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.title-area>.delete-btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: fit-content;

    align-self: center;
    cursor: pointer;
    text-align: center;
    margin: 0px;
    justify-self: right;
}

.delete-btn:hover {
    animation-name: turnBlack;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.notes-area {
    display: flex;
    gap: 2rem;
    flex-flow: column;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    max-width: 80%;
    height: 60vh;
    overflow-x: scroll;
}

.add-note-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 15px 15px 15px;
    padding: 10px;
    margin: 20px;

}

.add-note-form>input {
    border: none;
    height: 30px;
    min-width: 80%;
    font-size: x-large;
    outline: 0;
}

.add-note-form>textarea {
    border: none;
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
    resize: none;
    min-width: 80%;
    min-height: 80px;
    outline: 0;
}

.add-note-form>button {
    width: fit-content;
    margin-top: 5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    position: relative;

    min-width: 600px;
    min-height: 400px;
    background-color: white;

    box-shadow: 2px 2px 10px 0px rgba(190, 196, 196, 0.356);
}

.edit-form>input {
    border: 0;
    outline: none;
}

.edit-form>.title {
    font-size: xx-large;
}

.edit-form>.content {
    max-width: 95%;
    min-height: 80%;
    overflow-wrap: break-word;

}

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    width: 100%;
}